.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  border: 1px solid black;
  width: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.projectNameInput {
  margin: 10px;
  width: 800px;
  height: 50px;
  text-align: left;
  font-size: 25px;
}

.flexR {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.smallButton {
  background-color: white;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  border: 1px solid black;
  width: 50px;
}

.smallInput {
  margin: 10px;
  width: 600px;
  height: 40px;
  text-align: left;
  font-size: 25px;
}

.projectNameDesc {
  margin: 10px;
  width: 800px;
  height: 150px;
  text-align: left;
  font-size: 25px;
}

.projectHolder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.projectHolder :hover {
    background-color: red;
    color: white;
    cursor: pointer;
  
}

.singleProject {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
